<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/create/" role="button">Create contact</a></li>
          <li><a href="/add/" role="button">Add data to contact</a></li>
          <li><a href="/edit/" role="button">Edit data in contact</a></li>
          <li><a href="/delete_page/" role="button">Delete contact</a></li>
          <!-- <li><a href="/search/" role="button">Search contact</a></li> -->
          <li><a href="/all/" role="button">Show_all conacts</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
